// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

// Captions
.wp-caption {
  //@extend .thumbnail;
}
.wp-caption-text {
  //padding: $thumbnail-caption-padding;
}

// Text meant only for screen readers
.screen-reader-text {
  @include sr-only;
  @include sr-only-focusable;
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: 20px;
  }
  .alignright {
    float: right;
    margin-left: 20px;
  }
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {}