// Grid settings
$sidebar-columns:    4;

// Colors
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #4fa3cc;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #638d41;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

// Typography
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;
$headings-font-family:        'Montserrat', $font-family-base;

$text-color:                  $dark;

$font-size-base:              .9rem; // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base * 1.1;
$h6-font-size:                $font-size-base;

// Header
$banner-background:       #263238;

// Components
$btn-border-radius:       3px;
$btn-border-radius-lg:    3px;
$btn-border-radius-sm:    3px;
$input-btn-padding-x:     1.65rem;
$input-btn-padding-y:     0.675rem;

// Mobile hamburger
$hamburger-line-width:      1px;
$hamburger-position-top:    5px;
$hamburger-position-right:  20px;
$hamburger-color:           #fff;
$hamburger-color-open:      #fff;

$fa-font-path: "../fonts";