.footer {
  background: #232830;
  padding-top: 60px;
  padding-bottom: 60px;

  a {
    color: #fff;
  }

  ul {
    list-style: none outside;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }

  .widget {
    color: #fff;

    .widget__title {
      font-size: 1.3rem;
      margin: 0 0 30px;
      padding: 0;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {}