.banner {
  background: $banner-background;
  position: relative;
  z-index: 10;
  text-align: center;

  .row {
    height: 100px;
  }

  .brand {
    font-size: 2em;
    color: #fff;
    line-height: 1em;
  }

  .custom-logo {
    width: 150px;
    height: auto;
  }

  .custom-logo-link {

  }
}
.home .banner--transparent {
  position: absolute;
  width: 100%;
  background: transparent;
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {

  .banner {
    text-align: left;
  }

  .home.elementor-page,
  .page-template-template-elementor {
    .banner {
      background: transparent;
      position: absolute;
      width: 100%;
    }
  }

  /* Sticky header */
  .banner--sticky,
  .banner--unsticky {
    width: 100%;
    position: fixed !important;
    background: $banner-background !important;
  }
  .banner--sticky {
    animation: stickyHeaderIn .3s ease-out;
  }
  .banner--unsticky {
    top: -100px;
    animation: stickyHeaderOut .3s ease-in;
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .hamburger {
    display: none;
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {}
