.banner {
  background: $banner-background;
  position: relative;
  z-index: 10;
  text-align: center;

  .row {
    height: 100px;
  }

  .brand {
    font-size: 2em;
    color: #fff;
    line-height: 1em;
  }

  .custom-logo {
    width: 150px;
    height: auto;
  }

  .custom-logo-link {

  }
}
.home .banner--transparent {
  position: absolute;
  width: 100%;
  background: transparent;
}

.mobile-hamburger {
  position: absolute;
  top: $hamburger-position-top;
  right: $hamburger-position-right;
  z-index: 20;
  width: 30px;
  height: 24px;
  transform: rotate(0deg);
  transition: rotate .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: $hamburger-line-width;
    width: 100%;
    background: $hamburger-color;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  &.open span {
    background: $hamburger-color-open;
  }

  span:nth-child(1) {
    top: 0px;
  }
  span:nth-child(2), span:nth-child(3) {
    top: 10px;
  }
  span:nth-child(4) {
    top: 20px;
  }
  &.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  &.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  &.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  &.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {

  .banner {
    text-align: left;
  }

  .home.elementor-page,
  .page-template-template-elementor {
    .banner {
      background: transparent;
      position: absolute;
      width: 100%;
    }
  }

  /* Sticky header */
  .banner--sticky,
  .banner--unsticky {
    width: 100%;
    position: fixed !important;
    background: $banner-background !important;
  }
  .banner--sticky {
    animation: stickyHeaderIn .3s ease-out;
  }
  .banner--unsticky {
    top: -100px;
    animation: stickyHeaderOut .3s ease-in;
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .mobile-hamburger { display: none; }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {}
